.container
  margin: 0 auto
  max-width: 1100px
  position: relative

.clearfix
  content: ''
  clear: both
  display: table
  overflow: hidden

.clearfiix, .header_heat::after
  display: table
  content: ''
  clear: both
  overflow: hidden

.alagin_top
  vertical-align: top

.alagin_botton
  vertical-align: bottom
 
.section
  background-size: cover
  background-repead: no-repead
  
$corporate_color: #96c038