.media_section
	background: $corporate_color
	padding: $adabtive_sizes*45+% 0 $adabtive_sizes*65+% 0
	position: relative
	overflow: hidden
.media_logo_img
	width: auto

.media_logo
	margin: 0 auto $adabtive_sizes*35+%
	width: 70px
	line-height: 70px
	vertical-align: middle
	background: #fff
	border-radius: 100px
	text-align: center

.media_title
	color: #fff
	font-family: 'PT Sans', sans-serif
	font-size: 24px
	font-weight: 700
	text-transform: uppercase
	font-variant: small-caps
	text-align: center
.media_video_box
	margin-top: 47px

.media_video
	width: 700px
	height: 400px
.media__side_walls_img
	width: auto
	margin-top: -25px
.media__side_walls
	position: absolute
	height: 386px
	top: 32.2%
	z-index: 5
	background-color: black

.media__side_walls_right
	@extend .media__side_walls
	right: 50%
	margin-right: 345px
.media__side_walls_left
	@extend .media__side_walls
	left: 50%
	margin-left: 345px

.media_link_button
	width: 30px
	height: 55px
	position: absolute
	color: white
	top: 50%
	z-index: 10
.media_link_button_left
	@extend.media_link_button
	left: 98px
.media__batton_img_right
	@extend.media_link_button
	right: 98px

.media__batton_ing_left
	transform: rotate(180deg)