.media_section
	background: $corporate_color
	padding: $adabtive_sizes*45+% 0 $adabtive_sizes*65+% 0
	position: relative
	@extend .alagin_center

.media_logo_img
	width: auto

.media_logo
	margin: 0 auto $adabtive_sizes*35+%
	width: 70px
	line-height: 70px
	vertical-align: middle
	background: #fff
	border-radius: 100px

.media_video_box
	position: relative
	overflow: hidden
	margin-top: 47px

.media_title
	color: #fff
	font-family: 'PT Sans', sans-serif
	font-size: 24px
	font-weight: 700
	text-transform: uppercase
	font-variant: small-caps

.media_video
	width: 700px
	height: 400px

.media__side_walls_img
	width: auto
	margin-top: -25px

.media__side_walls
	position: absolute
	height: 100%
	top: 0
	z-index: 5
	background-color: black

.media__side_walls_right
	@extend .media__side_walls
	right: 50%
	margin-right: 345px

.media__side_walls_left
	@extend .media__side_walls
	left: 50%
	margin-left: 345px

.media_link_button
	width: 30px
	height: 55px
	position: absolute
	color: white
	top: 50%
	transform: translateY(50%)
	z-index: 10
.colone
	background-color: black
	background-image: url("../images/pic/icon/ellips.png")
	height: 100%
	width: 60px
	position: absolute
	z-index: 100
	left: -30px
	background-position-y: 25px
	background-position-x: 10px
	background-repeat-x: no-repeat

.colone::after
	content: ''
	height: 100%
	width: 4px
	background-color: $corporate_color
	position: absolute

.media_link_button_left
	@extend.media_link_button
	left: 7.65%

.media__button_img_right
	@extend.media_link_button
	right: 7.65%

.media__button_img_left
	transform: rotate(180deg)