.section_why
  background-color: rgb(40, 40, 40)
  @extend .alagin_center
  padding: $adabtive_sizes*35+% 0 $adabtive_sizes*20+% 0

.why_logo_img
  width: auto

.why_logo
  width: 70px
  line-height: 70px
  background-color: #fff
  border-radius: 100px
  margin: 0 auto

.why_title
  letter-spacing: 1.2px
  color: #fff
  font-family: 'PT Sans', sans-serif
  font-size: 24px
  font-weight: 700
  padding: 34px 0 0 0
  text-transform: uppercase

.why_content_box
  padding: $adabtive_sizes*40+% 0 0 0

.why_content
  display: inline-block
  padding: 10px 23.5px
  @extend .alagin_center
  vertical-align: top
  margin: 0 -20px

.alagin_botton
  vertical-align: bottom

.why_img
  width: auto

.why_figure
  &::after
    content: ''
    display: block
    width: 11px
    height: 11px
    border-radius: 50px
    background-color: $corporate_color
    margin: -5.5px auto 0
    position: relative
  &:nth-child(2)::after
    bottom: 150.5px

.why_text_gren
  color: $corporate_color
  font-family: 'PT Sans', sans-serif
  font-size: 18px
  line-height: 24px

.why_text
  color: rgb(184, 184, 184)
  font-family: 'Lora', serif
  font-size: 14px
  font-weight: 400
  line-height: 18px
  margin: 0 -40px
  width: 230px
  padding: 0 0 $adabtive_sizes*26+% 0

.why_content:nth-child(3) p
  margin: 0 -80px
  width: 360px
  padding: $adabtive_sizes*40+%  0 $adabtive_sizes*10+% 0

.why_content_center
  padding-top: $adabtive_sizes*125 +%
  vertical-align: middle

.why_content_center>.why_text
  line-height: 26px
  font-size: 16px

.why_content_center>.why_text>.why_text_gren
  font-size: 25px

.why_content_center>.why_figure
  padding-bottom: 22px

.why_content_right, .why_content_left
  padding: 0 0 $adabtive_sizes*20+% 0

.why_text:last-child
  padding: $adabtive_sizes*13+% 0 $adabtive_sizes*450+% 0

.alagin_top>.why_figure
  padding-top: 10px