<section class="section_chief" id="cheif">
    <div class="container">
        <header class="chief_head">
            <figure class="chief_logo">
                <img src="images/pic/icon/chief_logo.png" alt="" class="chief_logo_img">
            </figure>
            <h5 class="chief_title">
            FRED&CHIEF
        </h5>
        </header>
        <aside class="chief_content">
            <div class="chief_content_box chief_content_box_top">
                <p class="chief_content_content ">
                    Ось так виглядають ті, чиї
                    <br> турботливі руки щоденно
                    <br> створюють шедеври, якими ви так
                    <br> полюбляєте насолоджуватися.
                </p>
            </div>
            <div class="chief_content_box">
                <h6 class="chief_content_title">
                    Артем
                </h6>
                <p class="chief_content_content">
                    Наш головний натхненник і просто
                    <br> людина з золотими руками та
                    <br> відмінним смаком. Саме він створює,
                    <br> поєднує та змішує чарівні компоненти, з
                    <br> яких і утворюється кулінарна магія.
                </p>
            </div>
            <div class="chief_content_box">
                <h6 class="chief_content_title">
                    Олександр
                </h6>
                <p class="chief_content_content">
                    І тут так само щось кльове про другого
                    <br> шефа, який так само незамінний і дуже
                    <br> талановитий.
                </p>
            </div>
            <div class="chief_content_box">
                <h6 class="chief_content_title">
                   Mикола 
                </h6>
                <p class="chief_content_content">
                    А ще у нас напевне є третій шеф, який
                    <br> так само приємна людина та справжній
                    <br> професіонал.
                </p>
            </div>
        </aside>
    </div>
</section>