<section class="section_footer">
    <div class="container">
        <nav class="footer_content">
            <a href="" class="footer_content_link">
                головна
            </a>
            <a href="" class="footer_content_link">
                чому ми
            </a>
            <a href="" class="footer_content_link">
                меню
            </a>
            <a href="" class="footer_content_link">
                медіа
            </a>
            <a href="" class="footer_content_link">
                сервіс
            </a>
            <a href="" class="footer_content_link">
                кухарі
            </a>
            <a href="" class="footer_content_link">
                ми на мапі
            </a>
            <a href="" class="footer_content_link">
                новини
            </a>
            <a href="" class="footer_content_link">
                напишіть нам
            </a>
        </nav>
        <nav class="footer_content_contact">
            <a href="" class="footer_contact_link">
                <img src="images/pic/icon/footer_f.png" alt="" class="footer_contact_link_img">
            </a>
            <a href="" class="footer_contact_link">
                <img src="images/pic/icon/footer_i.png" alt="" class="footer_contact_link_img">
            </a>
            <a href="" class="footer_contact_link">
                <img src="images/pic/icon/footer_s.png" alt="" class="footer_contact_link_img">
            </a>
        </nav>
        <p class="footer_for">
            &#169prjctr 2018
        </p>
    </div>
</section>