<div class="wrap">
    <header class="section_header">
        <div class="header_heat">
            <div class="container">
                <label for="chek" class="header_chec_btn">
                    <span class="header__hamburge-btn"></span>
                    <span class="header__hamburge-btn"></span>
                    <span class="header__hamburge-btn"></span>
                </label>
                <input id="chek" type="checkbox">
                <nav class="header_menu right_menu">
                    <a href="" class="header_menu_link">
							головна 
						</a>
                    <a href="" class="header_menu_link">
							чому ми
						</a>
                    <a href="" class="header_menu_link">
							меню
						</a>
                    <a href="" class="header_menu_link">
							медіа
						</a>
                    <a href="" class="header_menu_link">
							сервіс 
						</a>
                </nav>
                <nav class="header_menu left_menu">
                    <a href="" class="header_menu_link">
							кухарі
						</a>
                    <a href="" class="header_menu_link">
							ми на мапі
						</a>
                    <a href="" class="header_menu_link">
							новини
						</a>
                    <a href="" class="header_menu_link">
							напишіть нам
						</a>
                </nav>
                <figure class="header_logo">
                    <img class="header_logo_img" src="images/logos/header_logo.png" alt="">
                </figure>
            </div>
        </div>
        <div class="header_content_box">
            <div class="container">
                <div class="header_content">
                    <p class="header_content_content top_content_header">
                        Ми потурбуємось про ваше
                    </p>
                    <p class="header_content_content">
                        <strong class="header_content_strong">здорове та якісне</strong>
                    </p>
                    <p class="header_content_content ">
                        <strong class="header_content_strong">харчування</strong>
                    </p>
                    <p class="header_content_content right_content_header ">
                        <span>а вільний час залиште</span>
                        <br> для нових
                        <strong class="header_content_strong ">звершень!</strong>
                    </p>
                    <figure class="header_contant_figure">
                        <img class="header_contant_img" src="images/portfolio/header_img.png">
                    </figure>
                </div>
            </div>
        </div>
    </header>
