<section class="media_section">
	<div class="container">
		<figure class="media_logo">
			<img src="images/pic/icon/media_logo.png" alt="" class="media_logo_img">
		</figure>
		<h5 class="media_title">
			FRED&MEDIA
		</h5>
	</div>

	<div class="media_video_box">
	<div class="media_video_carousel owl-carousel owl-theme caroselVideo">
		<div  class="media_video item-video"><a href="https://youtu.be/_GzvK3z0Hes" class="owl-video media_video"></a></div>
		<div  class="media_video item-video"><a href="https://youtu.be/Ib664TLUJdk" class="owl-video media_video"></a></div>
		<div  class="media_video item-video"><a href="https://youtu.be/_mt12B7s3b8" class="owl-video media_video"></a></div>
	</div>
		<figure class="media__side_walls_left">
			<img src="images/pic/icon/media_side.png" alt="" class="media__side_walls_img">
		</figure>
		<figure class="media__side_walls_right">
			<img src="images/pic/icon/media_side.png" alt="" class="media__side_walls_img">
		</figure>
	</div>

	<div class="media_list_button">
		<button href="" class=" customPrevBtnMedia media_link_button_right">
			<img src="images/pic/icon/media_button.png" class="media__button_img_right">
			  </button>
		<button href="" class=" customNextBtnMedia media_link_button_left">
			<img src="images/pic/icon/media_button.png" class="media__button_img_left">
		</button>
	</div>
</section>
