<section class="media_section" id="media">
    <div class="container">
        <figure class="media_logo">
            <img src="images/pic/icon/media_logo.png" alt="" class="media_logo_img">
        </figure>
        <h5 class="media_title">
			FRED&MEDIA
		</h5>
    </div>
    <div class="media_video_box">
        <div class="media_video_carousel owl-carousel owl-theme caroselVideo">
            <div class="media_video item-video"><div class="colone"></div><a href="https://youtu.be/cwZ5nvZt9hk" class="owl-video media_video"></a></div>
            <div class="media_video item-video"><div class="colone"></div><a href="https://youtu.be/m3zk6CArr5E" class="owl-video media_video"></a></div>
            <div class="media_video item-video"><div class="colone"></div><a href="https://youtu.be/g6wjCQ9aVHg" class="owl-video media_video"></a></div>
        </div>

    </div>
    <div class="media_list_button">
        <button href="" class=" customPrevBtnMedia media_link_button_right">
            <img src="images/pic/icon/media_button.png" class="media__button_img_right">
        </button>
        <button href="" class=" customNextBtnMedia media_link_button_left">
            <img src="images/pic/icon/media_button.png" class="media__button_img_left">
        </button>
    </div>
</section>