<section class="media_section">
	<div class="container">
		<figure class="media_logo">
			<img src="images/pic/icon/media_logo.png" alt="" class="media_logo_img">
		</figure>
		<h5 class="media_title">
			FRED&MEDIA
		</h5>
	</div>
	<div class="media_video_box">
	<figure class="media_video_content_left">
		<video  class="media_video" controls="control" >
			<source src="video/cats.mp4" class="media_video_mp4" >	
		</video>
	</figure>
	<figure class="media_video_content_center">
		<video  class="media_video" controls="control" >
			<source src="video/cats_2.mp4" class="media_video_mp4" >
		</video>
	</figure>
	<figure class="media_video_content_right">
		<video  class="media_video" controls="control" >
			<source src="video/cats_3.mp4" class="media_video_mp4" >
		</video>
	</figure>
</div>
</section>
