<article class="menu_content">
    <div class="menu_content_offer menu_content_right">
        
        <h5 class="menu_offer_title menu_offer_right">
			Fred&Sandwich
		</h5>
        <figure class="menu_content_logo ">
            <img src="./images/pic/icon/menu_dessert_logo.png" alt="" class="menu_content_img_logo menu_content_logo_big">
        </figure>
        <p class="menu_offer_description menu_offer_right">
            сендвічі та багети
        </p>
        <div class="menu_content_box">
            <nav class="menu_list_button">
                <a href="" class="menu_link_button">
                    < 
                </a>
                <a href="" class="menu_link_button">
				    >
		        </a>
            </nav>
            <article class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="./images/portfolio/menu_dessert_yogurt.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        25 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        YOGURT<br><br>
                    </p>
                    <p class="menu_dish_content">
                        Домашній йогурт
                        <br> мз варенням, пластівцями
                        <br> та сезонними ягодами
                        <br><br>
                    </p>
                    <a href="" class="menu_offer_details">
						детальніше
					</a>
                </div>
            </article>
            <article class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="./images/portfolio/menu_dessert_napoleon.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        20 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        NAPOLEON
                        <br>
                        <br>
                    </p>
                    <p class="menu_dish_content">
                        Наполеон із заварним
                        <br> кремом та томленою
                        <br> грушею
                        <br> <br>
                    </p>
                    <a href="" class="menu_offer_details">
						детальніше
					</a>
                </div>
            </article>
            <article class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="./images/portfolio/menu_dessert_eclair.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        7 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        ECLAIR
                        <br>
                        <br>
                    </p>
                    <p class="menu_dish_content">
                        Ніжні еклери
                        <br> з заварним кремом
                        <br> 
                        <br> 
                        <br>
                    </p>
                    <a href="" class="menu_offer_details">
						детальніше
					</a>
                </div>
            </article>
        </div>
    </div>
    <figure class="menu_content_figure">
        <img src="./images/portfolio/menu_sandwich.png" alt="" class="menu_content_img">
    </figure>
</article>
</div>
</section>