<article class="menu_content">
    <div class="menu_content_offer">
        <figure class="menu_content_figure">
            <img src="images/portfolio/menu_salad.png" alt="" class="menu_content_img">
        </figure>
        <figure class="menu_content_logo ">
            <img src="images/pic/icon/menu_salad_logo.png" alt="" class="menu_content_img_logo ">
        </figure>
        <div class="menu_offer_title_content">
            <h5 class="menu_offer_title">
                Fred&Salad
            </h5>
            <p class="menu_offer_description">
                овочеві та м’ясні салати
            </p>
        </div>
        <div class="menu_content_box_carousel ">
        <menu class="menu_content_box owl-carousel saladCarousel">
            <li class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="images/portfolio/menu_salad_asian.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        40 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        ASIAN&CELERY
                    </p>
                    <p class="menu_dish_content">
                        Фітнес-салат з селерою,
                        <br> яблуком, морквою
                        <br> та копченим тофу.
                        <br> Вага 300 г
                    </p>
                    <a href="" class="menu_offer_details">
                            детальніше
                        </a>
                </div>
            </li>
            <li class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="images/portfolio/menu_salad_fred.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        40 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        FRED&BEET
                    </p>
                    <p class="menu_dish_content">
                        Салат із запеченим
                        <br>буряком з сиром рікотта
                        <br>та горіхами.
                        <br>Вага 300 г
                    </p>
                    <a href="" class="menu_offer_details">
                            детальніше
                        </a>
                </div>
            </li>
            <li class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="images/portfolio/menu_salad_chicken.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        50 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        CHICKEN&AVOCADO
                    </p>
                    <p class="menu_dish_content">
                        Салат із запеченою
                        <br> куркою, томатами
                        <br> та авокадо.
                        <br> Вага 300 г
                    </p>
                    <a href="" class="menu_offer_details">
                            детальніше
                        </a>
                </div>
            </li>
            <li class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="images/portfolio/menu_salad_asian.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        40 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        ASIAN&CELERY
                    </p>
                    <p class="menu_dish_content">
                        Фітнес-салат з селерою,
                        <br> яблуком, морквою
                        <br> та копченим тофу.
                        <br> Вага 300 г
                    </p>
                    <a href="" class="menu_offer_details">
                        детальніше
                    </a>
                </div>
            </li>
            <li class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="images/portfolio/menu_salad_fred.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        40 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        FRED&BEET
                    </p>
                    <p class="menu_dish_content">
                        Салат із запеченим
                        <br>буряком з сиром рікотта
                        <br>та горіхами.
                        <br>Вага 300 г
                    </p>
                    <a href="" class="menu_offer_details">
                        детальніше
                    </a>
                </div>
            </li>
            <li class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="images/portfolio/menu_salad_asian.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        40 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        ASIAN&CELERY
                    </p>
                    <p class="menu_dish_content">
                        Фітнес-салат з селерою,
                        <br> яблуком, морквою
                        <br> та копченим тофу.
                        <br> Вага 300 г
                    </p>
                    <a href="" class="menu_offer_details">
                        детальніше
                    </a>
                </div>
            </li>

        </menu>
        </div>
        <div class="menu_list_button">
            <button href="" class=" customPrevBtnSalad menu_link_button">
                < </button>
            <button href="" class=" customNextBtnSalad menu_link_button">
                >
            </button>
        </div>
    </div>
</article>