<section class="section_menu section
">
	<div class="container">
		<figure class="menu_logo">
			<img src="../images/pic/icon/menu_logo.png" alt="" class="menu_logo_img">
		</figure>
		<h3 class="menu_title">
			FRED&FRESH МЕНЮ
		</h3>
		<article class="menu_content">
			<figure class="menu_content_figure">
				<img src="../images/portfolio/menu_sandwich.png" alt="" class="menu_content_img">
			</figure>
			<div class="menu_content_offer">
				<figure class="menu_content_logo ">
				<img src="../images/pic/icon/menu_sandwich_logo.png" alt="" class="menu_content_img_logo">
			</figure>

				<h5 class="menu_offer_title">
					Fred&Sandwich
				</h5>
				<p class="menu_offer_description">
					сендвічі та багети
				</p>
				<div class="menu_content_box">
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_mozzarella.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							MOZZARELLA&<br>
							TOMATO
						</p>
						<p class="menu_dish_content">
							Сэндвіч з прикопченою<br>
							моцареллою, томатами<br>
							та домашнім песто<br>
							Вага 220 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>
				</article>
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_zuccini.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							ZUCCINI&EGGS<br><br>

						</p>
						<p class="menu_dish_content">
							Житній багет з<br>
							маринованим кабачком,<br>
							яйцем та томатами<br>
							Вага 240 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>
				</article>
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_vitello.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							FRED&VITELLO<br><br>
							
						</p>
						<p class="menu_dish_content">
							Сендвіч з копченим<br>
							ростбіфом,томатами<br>
							і соусом вітелло тонато<br>
							Вага 220 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>	
				</article>
				<nav class="menu_list_button">
					<a href="" class="menu_link_button">
						<
					</a>
					<a href="" class="menu_link_button">
						>
					</a>
				</nav>
			</div>
		</div>
		</article>
		<article class="menu_content">
			
			<div class="menu_content_offer">
				<figure class="menu_content_logo ">
				<img src="../images/pic/icon/menu_sandwich_logo.png" alt="" class="menu_content_img_logo">
			</figure>

				<h5 class="menu_offer_title">
					Fred&Sandwich
				</h5>
				<p class="menu_offer_description">
					сендвічі та багети
				</p>
				<div class="menu_content_box">
				<nav class="menu_list_button">
						<a href="" class="menu_link_button">
							<
						</a>
						<a href="" class="menu_link_button">
							>
						</a>
					</nav>	
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_mozzarella.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							MOZZARELLA&<br>
							TOMATO
						</p>
						<p class="menu_dish_content">
							Сэндвіч з прикопченою<br>
							моцареллою, томатами<br>
							та домашнім песто<br>
							Вага 220 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>
				</article>
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_zuccini.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							ZUCCINI&EGGS<br><br>

						</p>
						<p class="menu_dish_content">
							Житній багет з<br>
							маринованим кабачком,<br>
							яйцем та томатами<br>
							Вага 240 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>
				</article>
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_vitello.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							FRED&VITELLO<br><br>
							
						</p>
						<p class="menu_dish_content">
							Сендвіч з копченим<br>
							ростбіфом,томатами<br>
							і соусом вітелло тонато<br>
							Вага 220 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>	
				</article>
				
					<figure class="menu_content_figure">
				<img src="../images/portfolio/menu_sandwich.png" alt="" class="menu_content_img">
			</figure>
			</div>
		</div>
		</article>
		<article class="menu_content">
			<figure class="menu_content_figure">
				<img src="../images/portfolio/menu_sandwich.png" alt="" class="menu_content_img">
			</figure>
			<div class="menu_content_offer">
				<figure class="menu_content_logo ">
				<img src="../images/pic/icon/menu_sandwich_logo.png" alt="" class="menu_content_img_logo">
			</figure>

				<h5 class="menu_offer_title">
					Fred&Sandwich
				</h5>
				<p class="menu_offer_description">
					сендвічі та багети
				</p>
				<div class="menu_content_box">
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_mozzarella.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							MOZZARELLA&<br>
							TOMATO
						</p>
						<p class="menu_dish_content">
							Сэндвіч з прикопченою<br>
							моцареллою, томатами<br>
							та домашнім песто<br>
							Вага 220 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>
				</article>
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_zuccini.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							ZUCCINI&EGGS<br><br>

						</p>
						<p class="menu_dish_content">
							Житній багет з<br>
							маринованим кабачком,<br>
							яйцем та томатами<br>
							Вага 240 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>
				</article>
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_vitello.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							FRED&VITELLO<br><br>
							
						</p>
						<p class="menu_dish_content">
							Сендвіч з копченим<br>
							ростбіфом,томатами<br>
							і соусом вітелло тонато<br>
							Вага 220 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>	
				</article>
				<nav class="menu_list_button">
						<a href="" class="menu_link_button">
							<
						</a>
						<a href="" class="menu_link_button">
							>
						</a>
					</nav>
			</div>
		</div>
		</article>
		<article class="menu_content">
			<figure class="menu_content_figure">
				<img src="../images/portfolio/menu_sandwich.png" alt="" class="menu_content_img">
			</figure>
			<div class="menu_content_offer">
				<figure class="menu_content_logo ">
				<img src="../images/pic/icon/menu_sandwich_logo.png" alt="" class="menu_content_img_logo">
			</figure>

				<h5 class="menu_offer_title">
					Fred&Sandwich
				</h5>
				<p class="menu_offer_description">
					сендвічі та багети
				</p>
				<div class="menu_content_box">
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_mozzarella.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							MOZZARELLA&<br>
							TOMATO
						</p>
						<p class="menu_dish_content">
							Сэндвіч з прикопченою<br>
							моцареллою, томатами<br>
							та домашнім песто<br>
							Вага 220 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>
				</article>
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_zuccini.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							ZUCCINI&EGGS<br><br>

						</p>
						<p class="menu_dish_content">
							Житній багет з<br>
							маринованим кабачком,<br>
							яйцем та томатами<br>
							Вага 240 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>
				</article>
				<article class="menu_offer_positions">
					<figure class="menu_offer_dish">
						<img src="../images/portfolio/menu_sandwich_vitello.png" class="menu_offer_dish_img">
					</figure>
					<div class="memu_offer_content">
						<p class="menu_offer_price">
							40 грн
						</p>
						<p class="menu_offer_dish_title">
							FRED&VITELLO<br><br>
							
						</p>
						<p class="menu_dish_content">
							Сендвіч з копченим<br>
							ростбіфом,томатами<br>
							і соусом вітелло тонато<br>
							Вага 220 г
						</p>
						<a href="" class="menu_offer_details">
							детальніше
						</a>
					</div>	
				</article>
				<nav class="menu_list_button">
						<a href="" class="menu_link_button">
							<
						</a>
						<a href="" class="menu_link_button">
							>
						</a>
					</nav>
			</div>
		</div>
		</article>	
</section> 