<article class="menu_content">
    <div class="menu_content_offer">
        <figure class="menu_content_figure revers">
            <img src="images/portfolio/menu_soup.png" alt="" class="menu_content_img">
        </figure>
        <figure class="menu_content_logo revers">
            <img src="images/pic/icon/menu_soup_logo.png" alt="" class="menu_content_img_logo menu_content_logo_big">
        </figure>
        <div class="menu_offer_title_content revers">
            <h5 class="menu_offer_title">
                Fred&Soup
            </h5>
            <p class="menu_offer_description revers">
                холодні супи та крем-супии
            </p>
        </div>
        <div class="menu_content_box_carousel revers">
            <menu class="menu_content_box revers owl-carousel soupCarousel">
                <li class="menu_offer_positions revers">
                    <figure class="menu_offer_dish">
                        <img src="images/portfolio/menu_wasabi.png" class="menu_offer_dish_img">
                    </figure>
                    <div class="memu_offer_content">
                        <p class="menu_offer_price">
                            30 грн
                        </p>
                        <p class="menu_offer_dish_title">
                            PEAS&WASABI
                        </p>
                        <p class="menu_dish_content">
                            Крем-суп з молодого
                            <br> горошку з додаванням
                            <br> васаби
                            <br> Вага 250 г
                        </p>
                        <a href="" class="menu_offer_details">
                            детальніше
                        </a>
                    </div>
                </li>
                <li class="menu_offer_positions revers">
                    <figure class="menu_offer_dish">
                        <img src="images/portfolio/menu_mushroom.png" class="menu_offer_dish_img">
                    </figure>
                    <div class="memu_offer_content">
                        <p class="menu_offer_price">
                            30 грн
                        </p>
                        <p class="menu_offer_dish_title">
                            MUSHROOM&
                            <br> TRUFFLE
                        </p>
                        <p class="menu_dish_content">
                            Грибний крем-суп
                            <br> з трюфельним
                            <br> ароматом і сухариками
                            <br> Вага 250 г
                        </p>
                        <a href="" class="menu_offer_details">
                            детальніше
                        </a>
                    </div>
                </li>
                <li class="menu_offer_positions revers">
                    <figure class="menu_offer_dish">
                        <img src="images/portfolio/menu_peas.png" class="menu_offer_dish_img">
                    </figure>
                    <div class="memu_offer_content">
                        <p class="menu_offer_price">
                            30 грн
                        </p>
                        <p class="menu_offer_dish_title">
                            PEAS&BACON
                        </p>
                        <p class="menu_dish_content">
                            Гороховий крем-суп
                            <br> з куркумою, беконом
                            <br> та хрустким нутом
                            <br> Вага 250 г
                        </p>
                        <a href="" class="menu_offer_details">
                            детальніше
                        </a>
                    </div>
                </li>
            </menu>
        </div>
        <div class="menu_list_button revers owl-nav">
            <button href="" class=" customPrevBtnSoup menu_link_button">
                < </button>
                    <button href="" class=" menu_link_button customNextBtnSoup">
                        >
                    </button>
        </div>
    </div>
</article>