<article class="menu_content wow bounceInLeft animated" data-wow-offset="320">
    <div class="menu_content_offer">
        <figure class="menu_content_figure revers">
            <img src="images/portfolio/menu_dessert.png" alt="" class="menu_content_img">
        </figure>
        <figure class="menu_content_logo revers ">
            <img src="images/pic/icon/menu_dessert_logo.png" alt="" class="menu_content_img_logo menu_content_logo_big">
        </figure>
        <div class="menu_offer_title_content revers">
            <h5 class="menu_offer_title">
                Fred&Dessert
            </h5>
            <p class="menu_offer_description revers">
                різноманітні десерти
            </p>
        </div>
        <div class="menu_content_box_carousel revers">
            <menu class="menu_content_box revers owl-carousel dessertCarousel">
                <li class="menu_offer_positions revers">
                    <figure class="menu_offer_dish">
                        <img src="images/portfolio/menu_dessert_eclair.png" class="menu_offer_dish_img">
                    </figure>
                    <div class="memu_offer_content">
                        <p class="menu_offer_price">
                            7 грн
                        </p>
                        <p class="menu_offer_dish_title">
                            ECLAIR
                        </p>
                        <p class="menu_dish_content">
                            Ніжні еклери
                            <br> з заварним кремом
                        </p>
                        <a href="" class="menu_offer_details">
                            детальніше
                    </a>
                    </div>
                </li>
                <li class="menu_offer_positions revers">
                    <figure class="menu_offer_dish">
                        <img src="images/portfolio/menu_dessert_napoleon.png" class="menu_offer_dish_img">
                    </figure>
                    <div class="memu_offer_content">
                        <p class="menu_offer_price">
                            20 грн
                        </p>
                        <p class="menu_offer_dish_title">
                            NAPOLEON
                        </p>
                        <p class="menu_dish_content">
                            Наполеон із заварним
                            <br> кремом та томленою
                            <br> грушею
                        </p>
                        <a href="" class="menu_offer_details">
                            детальніше
                        </a>
                    </div>
                </li>
                <li class="menu_offer_positions revers">
                    <figure class="menu_offer_dish">
                        <img src="images/portfolio/menu_dessert_yogurt.png" class="menu_offer_dish_img">
                    </figure>
                    <div class="memu_offer_content">
                        <p class="menu_offer_price">
                            25 грн
                        </p>
                        <p class="menu_offer_dish_title">
                            YOGURT
                        </p>
                        <p class="menu_dish_content">
                            Домашній йогурт
                            <br> з варенням,пластівцями
                            <br> та сезонними ягодами
                        </p>
                        <a href="" class="menu_offer_details">
                            детальніше
                        </a>
                    </div>
                </li>
                <li class="menu_offer_positions revers">
                    <figure class="menu_offer_dish">
                        <img src="images/portfolio/menu_dessert_eclair.png" class="menu_offer_dish_img">
                    </figure>
                    <div class="memu_offer_content">
                        <p class="menu_offer_price">
                            7 грн
                        </p>
                        <p class="menu_offer_dish_title">
                            ECLAIR
                        </p>
                        <p class="menu_dish_content">
                            Ніжні еклери
                            <br> з заварним кремом
                        </p>
                        <a href="" class="menu_offer_details">
                        детальніше
                    </a>
                    </div>
                </li>
                <li class="menu_offer_positions revers">
                    <figure class="menu_offer_dish">
                        <img src="images/portfolio/menu_dessert_eclair.png" class="menu_offer_dish_img">
                    </figure>
                    <div class="memu_offer_content">
                        <p class="menu_offer_price">
                            7 грн
                        </p>
                        <p class="menu_offer_dish_title">
                            ECLAIR
                        </p>
                        <p class="menu_dish_content">
                            Ніжні еклери
                            <br> з заварним кремом
                        </p>
                        <a href="" class="menu_offer_details">
                            детальніше
                        </a>
                    </div>
                </li>
            </menu>
        </div>
        <div class="menu_list_button revers owl-nav">
            <button href="" class="menu_link_button customPrevBtnDessert">
                < </button>
                    <button href="" class="menu_link_button customNextBtnDessert">
                        >
                    </button>
        </div>
    </div>
    </div>
</article>
</section>