<article class="menu_content">
    <div class="menu_content_offer menu_content_right">
        
        <h5 class="menu_offer_title menu_offer_right">
            Fred&Soup
        </h5>
        <figure class="menu_content_logo ">
            <img src="./images/pic/icon/menu_soup_logo.png" alt="" class="menu_content_img_logo menu_content_logo_big">
        </figure>
        <p class="menu_offer_description menu_offer_right">
            холодні супи та крем-супи
        </p>
        <div class="menu_content_box">
            <nav class="menu_list_button">
                <a href="" class="menu_link_button">
                    > 
                </a>
                <a href="" class="menu_link_button">
                    <
                </a>
            </nav>
            <article class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="./images/portfolio/menu_peas.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        30 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        PEAS&BACON<br><br>
                    </p>
                    <p class="menu_dish_content">
                        Гороховий крем-суп
                        <br> з куркумою, беконом
                        <br> та хрустким нутом
                        <br> Вага 250 г
                    </p>
                    <a href="" class="menu_offer_details">
                        детальніше
                    </a>
                </div>
            </article>
            <article class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="./images/portfolio/menu_mushroom.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        30 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        MUSHROOM&
                        <br>
                        TRUFFLE
                        <br>
                    </p>
                    <p class="menu_dish_content">
                        Грибний крем-суп
                        <br> з трюфельним
                        <br> ароматом і сухариками
                        <br> Вага 250 г
                    </p>
                    <a href="" class="menu_offer_details">
                        детальніше
                    </a>
                </div>
            </article>
            <article class="menu_offer_positions">
                <figure class="menu_offer_dish">
                    <img src="./images/portfolio/menu_wasabi.png" class="menu_offer_dish_img">
                </figure>
                <div class="memu_offer_content">
                    <p class="menu_offer_price">
                        30 грн
                    </p>
                    <p class="menu_offer_dish_title">
                        PEAS&WASABI
                        <br>
                        <br>
                    </p>
                    <p class="menu_dish_content">
                        Крем-суп з молодого
                        <br> горошку з додаванням
                        <br> васаби
                        <br> Вага 250 г
                    </p>
                    <a href="" class="menu_offer_details">
                        детальніше
                    </a>
                </div>
            </article>
        </div>
    </div>
    <figure class="menu_content_figure">
        <img src="./images/portfolio/menu_soup.png" alt="" class="menu_content_img">
    </figure>
</article>