<section class="section_news">
    <div class="container">
        <figure class="news_logo">
            <img src="images/pic/icon/news_section.png" alt="" class="news_logo_img">
        </figure>
        <h4 class="news_title">
			FRED&NEWS
		</h4>
        <div class="news_ad_box">
            <article class="news_ad">
                <time class="news_time">
                    25.11.15
                </time>
                <figure class="news_ad_logo">
                    <img src="images/portfolio/news_img.png" alt="" class="news_ad_logo_img">
                </figure>
                <div class="news_content_box">
                    <h6 class="news_ad_title">
                    В нашому меню
                    <br> новинка!
                    </h6>
                    <p class="news_ad_content">
                    	Ми із задоволенням<br>готові представити вам<br>
						абсолютно новий салат.
                    </p>
                    <a href="" class="news_ad_button">
						детальніше
					</a>
                </div>
            </article>
            <article class="news_ad">
                <time class="news_time">
                    15.10.15
                </time>
                <figure class="news_ad_logo">
                    <img src="images/portfolio/news_festival_img.png" alt="" class="news_ad_logo_img">
                </figure>
                <div class="news_content_box">
                    <h6 class="news_ad_title">
                    Шукайте нас на 
                    <br> фестивалі
                    </h6>
                    <p class="news_ad_content">
                    	Так,25 жовтня ми<br>
                    	віришили взяти участь у<br>
                    	черговому фестивалі<br>
                    	вуличної їжі.
                    </p>
                    <a href="" class="news_ad_button">
						детальніше
					</a>
                </div>
            </article>
            <article class="news_ad">
                <time class="news_time">
                    01.09.15
                </time>
                <figure class="news_ad_logo">
                    <img src="images/portfolio/news_frends_img.png" alt="" class="news_ad_logo_img">
                </figure>
                <div class="news_content_box">
                    <h6 class="news_ad_title">
                    «Пригости 
                    <br>друга»
                    </h6>
                    <p class="news_ad_content">
                    	Безпрецедентна акція
                    	<br>за підтримки наших
                    	<br>партнерів.
                    </p>
                    <a href="" class="news_ad_button">
						детальніше
					</a>
                </div>
            </article>
            <article class="news_ad">
                <time class="news_time">
                    09.07.15
                </time>
                <figure class="news_ad_logo">
                    <img src="images/portfolio/news_season_img.png" alt="" class="news_ad_logo_img">
                </figure>
                <div class="news_content_box">
                    <h6 class="news_ad_title">
                   		Сезонне меню
                    </h6>
                    <p class="news_ad_content">
                    	Пора вітамінів! Відтепер
                    	<br>наші страви ще
                    	<br>корисніші!
                    </p>
                    <a href="" class="news_ad_button">
						детальніше
					</a>
                </div>
            </article>
        </div>
        <a href="" class="news_more">
        	більше новин
        </a>
    </div>
</section>