<section class="section_map">
	
	<div class="conteiner">
		<div  id="map">
	
		</div>
		<aside class="map_clients">
			<h5 class="map_clients_about_title">
					Наші клієнти:
			</h5>
			<div class="map_clients_about">
				<div class="map_clients_about_content">
					<h6 class="map_about_content_title">
						Креативний простір<br>
						"Часопис"
					</h6>
					<p class="map_about_content_street">
						вул. Льва Толстого, 3
					</p>
				</div>
				<figure class="map_clients_logo">
					<img src="images/portfolio/map_chasopus.png" alt="" class="map_clients_logo_img">
				</figure>
			</div>
			<div class="map_clients_about">
				<div class="map_clients_about_content">
					<h6 class="map_about_content_title">
						Вільний простір<br>
						"Циферблат"
					</h6>
					<p class="map_about_content_street">
						вул. Володимирська, 49А
					</p>
				</div>
				<figure class="map_clients_logo">
					<img src="images/portfolio/map_clockFace.png" alt="" class="map_clients_logo_img">
				</figure>
			</div>
			<div class="map_clients_about">
				<div class="map_clients_about_content">
					<h6 class="map_about_content_title">
						Дизайн-середовище<br>
						"Projector"
					</h6>
					<p class="map_about_content_street">
						вул. Верхній Вал, 22
					</p>
				</div>
				<figure class="map_clients_logo">
					<img src="images/portfolio/map_projector.png" alt="" class="map_clients_logo_img">
				</figure>
			</div>
			<button class="maps_btn">
				<img src="images/pic/icon/maps_button.png" class="maps_btn_img">
			</button>
		</aside>
	</div>
</section>