<section class="section_service" id="service">
    <div class="container">
        <figure class="service_logo">
            <img src="images/pic/icon/service_logo.png" alt="" class="service_logo_img">
        </figure>
        <h5 class="service_title">
            FRED&SERVICE
        </h5>
        <div class="service_content_box">
            <article class="service_content">
                <figure class="service_content_photo">
                    <img src="images/portfolio/service_corporate.png" alt="" class="service_content_img">
                </figure>
                <div class="service_content_about">
                    <h5 class="service_content_about_title">
                    Корпоративне<br>
                    обслуговування
                </h5>
                    <p class="service_content_about_content">
                        Ми із задоволенням готові
                        <br> сформувати графік
                        <br> доставки продуктів у ваш
                        <br> офіс в тій кількості, яка
                        <br> вам необхідна. Також тут
                        <br> можна написати як вигідно
                        <br> співпрацювати з нами
                        <br> за такою схемою.
                    </p>
                    <a href="" class="service_content_about_batton">
                    детальніше
                </a>
                </div>
            </article>
            <article class="service_content">
                <figure class="service_content_photo">
                    <img src="images/portfolio/service_keytraining.png" alt="" class="service_content_img">
                </figure>
                <div class="service_content_about">
                    <h5 class="service_content_about_title">
                        Кейтеринг
                    </h5>
                    <p class="service_content_about_content">
                        Плануете корпоратив? Чи
                        <br> просто бажаете відпочити?
                        <br> Ми допоможемо вам
                        <br> організувати будь-яке
                        <br> свято в обмежені сроки
                        <br> та практично в будь-якому
                        <br> об’ємі.
                    </p>
                    <a href="" class="service_content_about_batton">
                        детальніше
                    </a>
                </div>
            </article>
            <article class="service_content">
                <figure class="service_content_photo">
                    <img src="images/portfolio/service_delivery.png" alt="" class="service_content_img">
                </figure>
                <div class="service_content_about">
                    <h5 class="service_content_about_title">
                        Доставка
                    </h5>
                    <p class="service_content_about_content">
                        З легкістю ми нагодуємо
                        <br> велику зголоднілу
                        <br> компанию. Сформоване
                        <br> замовлення ми доставимо
                        <br> в найкоротші строки
                        <br> у будь-яку точку міста
                        <br> Києва.
                    </p>
                    <a href="" class="service_content_about_batton">
                        детальніше
                    </a>
                </div>
            </article>
            <article class="service_content">
                <figure class="service_content_photo">
                    <img src="images/portfolio/service_cooperation.png" alt="" class="service_content_img">
                </figure>
                <div class="service_content_about">
                    <h5 class="service_content_about_title">
                        Співробітництво
                    </h5>
                    <p class="service_content_about_content">
                        Якщо ви не знайшли
                        <br> потрібного вам серед
                        <br> наших послуг - ми із
                        <br> задоволенням обговоримо
                        <br> будь-які ваші пропозиції
                        <br> та спробуємо задовольнити
                        <br> будь-які потреби.
                    </p>
                    <a href="" class="service_content_about_batton">
                        детальніше
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>