
	<section class="section_why">
		<div class="container">
			<figure class="why_logo">
				<img class="why_logo_img" src="./images/pic/icon/why_icone.png">
			</figure>
			<p class="why_title">
				чому cаме fred&fresh?
			</p>
			<div class="why_content_box">
			<article class="why_content alagin_botton">
				<figure class="why_figure">
					<img src="./images/portfolio/why_1.png" alt="" class="why_img">
				</figure>
				<p class="why_text">
					<span class="why_text_gren">Сезоннi меню - <br>
					ваше добре самопочуття</span><br>
					Ми турбуємося про те,<br>
					щоб з нашими пропозиціями ви<br>
					щосезону отримували всі корисні<br>
					вітаміни та мінерали
				</p>
			</article>
			<article class="why_content alagin_top">
				<p class="why_text">
					<span class="why_text_gren">
						Виключно<br>
						свіжі страви</span><br>
						Все, що ви їсте, гарантовано<br>
						виготовлено саме<br>
						сьогодні
					
				</p>
				<figure class="why_figure">
					<img src="./images/portfolio/why_2.png" alt="" class="why_img">
				</figure>
			</article>
			<article class="why_content alagin_top why_content_center">
				<figure class="why_figure">
					<img src="./images/portfolio/why_3.png" alt="" class="why_img">
				</figure>
				<p class="why_text">
					<span class="why_text_gren">Справжні страви<br>
					від шеф-повара</span><br>
					Звикли харчуватися якісно та смачно?<br>
					Ми приємно здивуємо вас класичними<br>
					смаками високої кухні, а також<br>
					потішимо новими унікальними поєднаннями<br>
				</p>
			</article>
			<article class="why_content alagin_top">
				<p class="why_text">
					<span class="why_text_gren">Кожен інгрідіент<br> 
					ми готуємо самостійно</span><br>
					Майонез, шинка чи моцарелла —<br>
					ніяких напівфабрикатів,<br>
					тільки домашні продукти<br>
				</p>
				<figure class="why_figure">
					<img src="./images/portfolio/why_4.png" alt="" class="why_img">
				</figure>
			</article>
			<article class="why_content alagin_botton">
				<figure class="why_figure">
					<img src="./images/portfolio/why_5.png" alt="" class="why_img">
				</figure>
				<p class="why_text">
					<span class="why_text_gren">Ми завжди доступні,<br>
					пунктуальні та відкриті</span><br>
					Зручна доставка, гнучкі<br>
					замовлення, індивідуальний<br>
					підхід — з нами просто і приємно<br>
					працювати
				</p>
			</article>
			</div>
		</div>
	</section>
