<section class="section_write_us">
    <div class="container">
        <figure class="write_us_logo">
            <img src="images/pic/icon/write_us_logo.png" class="write_us_logo_ing">
        </figure>
        <div class="write_us_content">
            <h4 class="write_us_title">
        		НАПИШІТЬ НАМ
            </h4>
            <p class="write_us_review">
                та замовте дегустацію, зробіть відгук, запропонуйте співпрацю чи просто подякуйте
            </p>
        </div>
        <form class="write_us_form">
            <div class="write_us_input_box">
                <input type="text" placeholder="E-mail" class="write_us_mail">
                <input type="text" placeholder="Оберіть тему звернення" class="write_us_topic">
            </div>
            <textarea class="write_us_mesage" type="text" placeholder="Текст звернення"></textarea>
            <div class="write_us_btn_box">
            	<button class="write_us_form_btn">
                	надіслати
            	</button>
        	</div>
        </form>
        <div class="write_us_tell">
        	<p class="write_tell_link_tell">
        		або подзвоніть!
        	</p>	
        	<a href="tel:+38 099 385 4 333" class="write_tell_link">
        		+38 099 385 4 333
        	</a>
        </div>
    </div>
</section>